body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #3333330a;
    padding: 10px 20px;
}

.navbar .logo {
    margin-right: auto;
}
.logo a img{
    margin-left: 280px;
}
#mn {
    margin-right: 40%;
    width: 100%;
}

.navbar .logo img {
    height: 40px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: rgb(26, 24, 24);
    text-decoration: none;
    padding: 10px;

}

.navbar ul li a:hover {
    background-color: #12121204;
    border-radius: 5px;
}
.img{
    align-items: center;
    
}
#mo {
    text-align: center;
    color: rgb(42, 210, 210);
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
}
.p1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;

}
#logo{
    justify-content: center;
    margin-left: 47%;
    margin-right: 20%;
    margin-top: 5%;
   
}
.container1 {
    display: flex;

    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.box {
    width: 250px;
    height: 300px;
    background-color: rgba(147, 218, 237, 0.774);
    margin: 10px;
    padding: 20px;
    color: rgb(20, 20, 20);
    border-radius: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
.box2{
    width: 250px;
    height: 300px;
    background-color: rgba(90, 28, 236, 0.774);
    margin: 10px;
    padding: 20px;
    color: rgb(20, 20, 20);
    border-radius: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
.box3{
    width: 250px;
    height: 300px;
    background-color: rgba(19, 19, 19, 0.774);
    margin: 10px;
    padding: 20px;
    color: rgb(20, 20, 20);
    border-radius: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;

}

#mk{
    text-align: justify;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(150, 213, 213);
    margin-left: 20%;

}
.grid1{
    margin-bottom: auto;
    margin: 65px;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: end;
    gap:5px;
    margin-left: 10%;
    margin-right: 10;
    font-size: small;
    
    
}
flex{
    display: flex;
    flex-direction: row;

    margin-top: 50px;
    flex-wrap: wrap;
}

#bac {
    background-color: rgb(215, 244, 237);
}

#mk {
    color: rgb(68, 211, 211);
    margin-left: 10%;
    margin-top: 10px;


    align-items: center;
}

#lk {
    margin-left: 10%;
    margin-top: 10px;


    align-items: center;

}

#naziha {
    background-color: white;
    height: 200px;
    width: 200px;
    padding: 10px;
    margin: 10px;

}


#kh {
    color: rgb(68, 211, 211);
    margin-left: 10%;
    margin-top: 10px;
    text-align: center;
}



#projet {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container2-left img {
    margin-top: 300px;
    margin-bottom: 0px;
}
.grid{
    margin-top: 70px;
    margin: 50px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    gap:5px;
    
}
.c1{
    margin: 10px;
}
.c1{
    margin: 10px;
}
.des{
    font-size: small;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.mpl{
    color: rgba(2, 2, 25, 0.901);
    background-color: blue;
    font-size: larger;

}
.mol{
    text-align: center;

}



    
